[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
gssutils = {git = "https://github.com/GSS-Cogs/gss-utils.git"}
google-cloud-storage = "*"
allure-behave = "*"
pygithub = "*"
requests = "*"
pyyaml = "*"
backoff = "*"

[requires]
python_version = "3.8"
